# Previsão de preços de aluguéis com o modelo XGBoost

In [26]:
import pickle
import pandas as pd

In [27]:
"""Carregar modelo em formato .pkl"""

with open("modelo_xgboost.pkl", "rb") as file:
    modelo = pickle.load(file)

In [28]:
dados = pd.DataFrame({'id': [2595],
        'nome': ['Skylit Midtown Castle'],
        'host_id': [2845],
        'host_name': ['Jennifer'],
        'bairro_group': ['Manhattan'],
        'bairro': ['Midtown'],
        'latitude': [40.75362],
        'longitude': [-73.98377],
        'room_type': ['Entire home/apt'],
        'minimo_noites': [1],
        'numero_de_reviews': [45],
        'ultima_review': ['2019-05-21'],
        'reviews_por_mes': [0.38],
        'calculado_host_listings_count': [2],
        'disponibilidade_365': [355]
        })

dados.head()

,id,nome,host_id,host_name,bairro_group,bairro,latitude,longitude,room_type,minimo_noites,numero_de_reviews,ultima_review,reviews_por_mes,calculado_host_listings_count,disponibilidade_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,1,45,2019-05-21,0.38,2,355

In [29]:
"""Retirar variáveis que não estão no modelo"""

dados = dados.drop(columns=['id', 'bairro_group', 'room_type', 'nome', 'host_id', 'host_name', 'ultima_review', 'bairro'], axis=1)

"""Adicionar dummies manualmente (já que temos apenas uma categoria, a função get_dummies não funciona)"""

dummies = pd.DataFrame({'bairro_group_brooklyn': [0],
                        'bairro_group_manhattan': [1],
                        'bairro_group_queens': [0],
                        'bairro_group_staten_island': [0],
                        'room_type_private_room': [0],
                        'room_type_shared_room': [0]})

dados = pd.concat([dados, dummies], axis=1)

dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   latitude                       1 non-null      float64
 1   longitude                      1 non-null      float64
 2   minimo_noites                  1 non-null      int64
 3   numero_de_reviews              1 non-null      int64
 4   reviews_por_mes                1 non-null      float64
 5   calculado_host_listings_count  1 non-null      int64
 6   disponibilidade_365            1 non-null      int64
 7   bairro_group_brooklyn          1 non-null      int64
 8   bairro_group_manhattan         1 non-null      int64
 9   bairro_group_queens            1 non-null      int64
 10  bairro_group_staten_island     1 non-null      int64
 11  room_type_private_room         1 non-null      int64
 12  room_type_shared_room          1 non-null      int64
dtypes: float64(3), int64(10)
memory usage: 236.0 bytes

In [30]:
lmbda =  0.22246548169533664

In [31]:
previsao = modelo.predict(pd.DataFrame(dados, index=[0]))

"""Fazer o cálculo inverso da transformação de Box-Cox para obter o valor previsto original"""

previsao = (previsao * lmbda + 1) ** (1 / lmbda)

print(f"Preço previsto: {previsao}")

Preço previsto: [210.25581]